<div style="clear: both;" ng-show="list.items.length > 0">
	<ul>
		<li ng-repeat="item in list.items" style="list-style-type: none">
			<div class="panel panel-default">
				<div class="panel panel-heading">
					{{item.short_name}}
					<div>{{item.name}}</div>
				</div>
				<div class="panel-body">{{item.description}}</div>
				<button ng-click="list.onRemove({index: $index})" class="panel-footer">Don't want
					this one</button>
			</div>
		</li>
	</ul>
</div>
<div class="error" style="clear: both;"> Nothing found</div>
